.dropdown {
    position: relative;
    display: inline-block;
    /* border: 1px solid black; */
}

.dropbtn {
    background-color: rgb(40, 224, 95);
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s ease-in-out; 
    box-shadow: 1px 2px 7px 1px rgb(180, 226, 14);
}
/* .dropbtn>button:hover{
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.952);
    background: rgb(8, 10, 10);
    color: rgb(255, 255, 255);
} */

.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content>a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.952);
    background: rgb(8, 10, 10);
    color: rgb(255, 255, 255);
}
.mi-cuenta{
    background-color: rgb(247, 244, 244);
    width: 500px;
    height:400px ;
    display: block;
    max-height: 400px;
}
.div-top{
    width: auto;
    height: 80px;
    background-color:rgb(247, 244, 244);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    border-radius: 0 0 4px 0;
}
.boton-login{
    background-color:rgb(247, 244, 244);
    font-size: 16px;
    /* border: 1px solid black; */
    width: 210px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
    
}
.div-boton{
    background-color:rgb(247, 244, 244);
    align-items: center;
    justify-content: center;
    /* font-size: small; */
}

.boton-login button{
    color: rgb(212, 25, 25);
    align-items: center;
    justify-content: center;
    height:38px;
    width: 210px;
    font-size: 13px;
    text-align: center;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.boton-login button:hover{
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.952);
    background: rgb(8, 10, 10);
    color: rgb(255, 255, 255); 
}
.start{
    background-color:rgb(247, 244, 244);
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height:10px ;
    padding: none;
    position: relative;
    top: 2px;
    /* left: 5px; */
}
.start .empieza{
    font-size:small;
    color: #000000;
    /* position: relative;
    top: -10px; */
}
.start .empieza:hover{
    color: yellow;
}
/*RIGHT SIDE OPCIONES DE LA CUENTA*/
.right-side{
    background-color: rgb(247, 244, 244);
    float: right;
    width: 50%;
    text-align: left;
    display: block;
    border-left: 1px solid black;
    position: relative;
    top: 10px;
    height: 290px;
    
}
.right-side>a{
    text-align: left;
    background:rgb(247, 244, 244);
    transition: .5s ease-in-out;
    padding: 10px;
    position: relative;
    top: 10px;
}
.right-side a:hover{
    /* color: yellow; */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.952);
    background: rgb(8, 10, 10);
    color: rgb(255, 255, 255);
}
.right-side>h2{
    padding-left: 15px;
}